.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-botton: 16px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.tbl {
	width: 100%;
	table-layout: fixed;
	display: table;
}

.tbl_body {
	display: table-row-group;
}

.tbl_rows {
	display: table-row;
}

.tbl_cell {
	display: table-cell;
	padding: 10px;
	text-align: justify;
}

img {
	float: left;
}
